<ons-list class="menu-list">
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    Home
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('about.html', {closeMenu: true})">
    <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
    About
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('food-menu.html', {closeMenu: true})">
    <ons-icon icon="fa-th-large" fixed-width="true"></ons-icon>
    Menu
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('slideshow.html', {closeMenu: true})">
    <ons-icon icon="ion-image" fixed-width="true"></ons-icon>
    Slideshow
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('gallery2.html', {closeMenu: true})">
    <ons-icon icon="ion-images" fixed-width="true"></ons-icon>
    Gallery (2 cols)
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('gallery.html', {closeMenu: true})">
    <ons-icon icon="ion-images" fixed-width="true"></ons-icon>
    Gallery (3 cols)
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('locations.html', {closeMenu: true})">
    <ons-icon icon="ion-ios-location" fixed-width="true"></ons-icon>
    Locations
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('friends.html', {closeMenu: true})">
    <ons-icon icon="ion-ios-people" fixed-width="true"></ons-icon>
    My Friends
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('profile.html', {closeMenu: true})">
    <ons-icon icon="ion-person" fixed-width="true"></ons-icon>
    My Profile
  </ons-list-item>
</ons-list>
