<ons-list class="menu-list">
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    Home
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('about.html', {closeMenu: true})">
    <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
    About
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('locations.html', {closeMenu: true})">
    <ons-icon icon="ion-ios-location" fixed-width="true"></ons-icon>
    Locater
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('friends.html', {closeMenu: true})">
    <ons-icon icon="ion-ios-people" fixed-width="true"></ons-icon>
    MoneyLanders
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('profile.html', {closeMenu: true})">
    <ons-icon icon="ion-person" fixed-width="true"></ons-icon>
    HQ
  </ons-list-item>
</ons-list>
